@media (max-width: 1024px){
  .selection__list {
    padding-right: 30px;
  }

  .selection__them {
    font-size: 20px;
  }
}

@media (max-width: 768px){
  .header__container {
    padding: 0px 20px;
  }

  .main {
    padding: 40px 20px;
  }

  .main__title {
    font-size: 34px;
  }

  .main__box {
    padding: 40px;
  }

  .selection__list {
    padding-right: 15px;
  }

  .selection__them {
    font-size: 18px;
    padding: 10px 15px;
  }

  .selection__them:not(:last-child) {
    margin-right: 15px;
  }

  .selection__item {
    margin-bottom: 10px;
  }

  .selection__result {
    display: flex;
    align-items: center;
  }

  .selection__result-text {
    display: none;
  }
}

@media (max-width: 560px){
  .main {
    padding: 30px 10px;
  }

  .main__box {
    padding: 15px;
    border-radius: 15px;
  }

  .main__btm:not(.result__return) {
    margin-left: 0;
    min-width: 100%;
  }

  .main__form-quetion::after {
    bottom: -35px;
  }

  .main__subtitle {
    font-size: 20px;
  }

  .selection__result-ratio {
    font-size: 18px;
  }
}